<div class="container">
	<h2>Alarms</h2>
	<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="View">
        <div class="container">
            <label for="select_agent">Select agent:</label>
            <select class="form-control" id="select_agent" ng-model="vm.agent_id" >
                <option selected="selected" value="all">All</option>
                <option ng-repeat="agent in vm.agents" value="{{agent}}">{{agent}}</option>
            </select>
            <label for="select_monitor">Select monitor:</label>
            <select class="form-control" id="select_monitor" ng-model="vm.monitor_id" >
                <option selected="selected" value="all">All</option>
                <option ng-repeat="monitor in vm.monitors[vm.agent_id]" value="{{monitor}}">{{monitor}}</option>
            </select>
            <button ng-click="vm.get_alarms()">Get Alarms</button>
            <hr>
            <table class="table table-sm" >
                <tr class="text-warning" ng-repeat="alarm in vm.alarms">
                    <td>{{alarm.name}}</td><td>{{alarm.date | date: 'medium'}}</td><td>{{alarm.message}}</td>
                </tr>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Create alarm rules">
    	<div class="container">
			<form class="form-inline" autocomplete="off">
				
				<div class="row">
        			<div class="col-md-6">
						<h3>Add a new Alarm Rule:</h3>
						<textarea ng-model="vm.rule" class="form-control" rows="15" style="min-width: 100%"></textarea>
						<hr>
						<input type="button" class="btn btn-success" ng-click="vm.addAlarm()" value="Add Alarm">
					</div>
					<div class="col-md-6">
					
						
						<h3>Rule example:</h3>
						<textarea class="form-control" rows="15" style="min-width: 100%" readonly>
rule "10 neuspesnih logovanja za jedan minut na istom sistemu (Windows)"
    when
        $l1: Log( data.get('eventId')=="4625")
        Number(intValue == 9) from accumulate(
            $l2: Log(
                $l1.data.get('number') < $l2.data.get('number'),
                this meets[1m] $l1
            ),
            count($l2)
        )
    then
        alarmService.save(new Alarm("Ime Alarma", new Date(), "Poruka Alarma", $l1.getMonitorId(), $l1.getMonitorId()));
end
						</textarea>
						
						<h3>Fields wich can be used</h3>
						<textarea class="form-control" rows="15" style="min-width: 100%" readonly>
Common fields for all Alarms:
	agentId
	monitorId
	system
	logName
	type
	date
	
Additional fields for Windows(system log):
	data.get('eventId')
	data.get('number')
	data.get('computer')
	data.get('source')
	data.get('message')
	
Additional fields for Linux(system log):
	data.get('computer')
	data.get('source')
	data.get('message')
	
Additional fields for Server log:
	data.get('ip')
	data.get('method')
	data.get('url')
	data.get('protocol')
	data.get('status')
	data.get('size')
	
Additional fields for Firewall log:
	data.get('action')
	data.get('protocol')
	data.get('src-ip')
	data.get('dst-ip')
	data.get('src-port')
	data.get('dst-port')
	data.get('path')
						</textarea>
						
					</div>
				</div>
			
			</form>
		</div>
    </uib-tab>
    
  </uib-tabset>
</div>